#hebergement article {
  border: 1px solid red;
}

body {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  font-family: "Raleway", sans-serif;
}
header {
  margin-left: 50px;
  margin-right: 50px;
}
#container {
  margin-left: 50px;
  margin-right: 50px;
}
/*********************Navigation & Logo*********************/
.nav-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-1 img {
  width: 150px;
}
.nav-1 ul {
  list-style-type: none;
  display: flex;
}
.nav-1 ul li {
  font-size: 25px;
  margin: 0 10px;
}
.nav-1 ul li a {
  color: #0065fc;
  text-decoration: none;
}
.nav-1 ul li a:hover {
  border-top: solid 4px #0065fc;
  padding-top: 25px;
}
/**********************Info section**********************/
.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
}
.info-section_2 {
  display: flex;
  flex-direction: column;
}
/************************Formulaire*********************/
form {
  display: flex;
  width: 400px;
  border-radius: 10px;
}
#icone,
input,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#icone {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 10px 0 0 10px;
}
input {
  width: 230px;
  height: 50px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: none;
  padding-left: 20px;
  border: 0.5px solid #f2f2f2;
}
button {
  background-color: #0065fc;
  color: white;
  width: 120px;
  height: 50px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  border: none;
}
/**********************Filtres***************************/
#filtres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 30px;
}
.filtre22 {
  display: flex;
  align-items: center;
}

.filtre {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 36px;
  width: 186px;
  height: 41px;
}
#filtres i,
.fascolor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  border-radius: 30px;
  width: 46px;
  height: 46px;
  margin-left: -3px;
  color: #0065fc;
}
/****************info*********************/
#info {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  align-items: center;
}
.fascolor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}
.info p {
  padding: 15px;
}
/******************Card*************************/
#card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#card img {
  width: 150px;
  height: 104px;
  border-radius: 10px 10px 0 0;
}
#hebergement {
  display: flex;
}
.titre {
  margin-left: 45px;
}
.left {
  flex-direction: row;
  flex-wrap: wrap;
  width: 29%;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.afficher_plus h4 {
  margin: 50px 0 40px 30px;
}
.right {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin-left: 45px;
}
#card .right img {
  border-radius: 10px 0 0 10px;
}
.graph {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*Couleur*/
.blue {
  color: blue;
}
.gray {
  color: gray;
}
