body {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  font-family: "Raleway", sans-serif;
}
header {
  margin-left: 50px;
  margin-right: 50px;
}
#container {
  margin-left: 50px;
  margin-right: 50px;
}
/*Navigation & Logo*/
.nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-1 img {
  width: 150px;
}
.nav-1 ul {
  list-style-type: none;
  display: flex;
}
.nav-1 ul li {
  font-size: 25px;
  margin: 0 10px;
}
.nav-1 ul li a {
  color: #0065fc;
  text-decoration: none;
}
.nav-1 ul li a:hover {
  border-top: solid 4px #0065fc;
  padding-top: 25px;
}
/*Info section*/
.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
}
.info-section_2 {
  display: flex;
  flex-direction: column;
}
/*Formulaire*/
form {
  display: flex;
}
#font {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}
input {
  width: 244px;
  height: 40px;
  border: 0.5px solid #f2f2f2;
  font-weight: bold;
}
button {
  width: 150px;
  height: 40px;
  background-color: #0065fc;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  border: none;
}
/*Filtres*/
#filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 30px;
}
.filtre {
  display: flex;
  align-items: center;
}
.economique {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 36px;
  width: 186px;
  height: 41px;
}
.familial {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 36px;
  width: 186px;
  height: 41px;
}
.romantique {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 36px;
  width: 186px;
  height: 41px;
}
.animaux {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 36px;
  width: 186px;
  height: 41px;
}

.fascolor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  border-radius: 30px;
  width: 46px;
  height: 46px;
  margin-left: -3px;
  color: #0065fc;
}
/*info*/
#info {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  align-items: center;
}
.fascolor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}
.info p {
  padding: 15px;
}
/*Card*/
.titre {
  width: 20%;
}
.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  height: 600px;
  justify-content: space-evenly;
}
/*#container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 70%;
  height: 600px;
}*/

img {
  width: 150px;
  height: 88px;
  border-radius: 10px 10px 0px 0px;
}
/*#lacannebière,
#leport,
#lesmouettes,
#lamer,
#lepanier,
#chezamina {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
}*/
