body {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  font-family: "Raleway", sans-serif;
  max-width: 1730px;
  margin: 0 auto;
}
header,
#container {
  margin-top: 10px;
}

/*********************Navigation & Logo*********************/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  font-size: 25px;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: #bdc4c7;
}
nav ul li a:hover {
  color: #0065fc;
}
nav a:hover {
  border-top: solid 4px #0065fc;
  padding-top: 25px;
}

/************************Formulaire*********************/
form {
  display: flex;
  width: 400px;
  border-radius: 10px;
}
#icone,
input,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#icone {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 10px 0 0 10px;
}
input {
  width: 230px;
  height: 50px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: none;
  padding-left: 20px;
  border: 0.5px solid #f2f2f2;
}
button {
  background-color: #0065fc;
  color: white;
  width: 120px;
  height: 50px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  border: none;
}
/**********************Filtres***************************/
#filtre_global {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 60%;
}
.titreselection {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.filtre {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 36px;
  width: 200px;
  height: 41px;
}
.filtre p {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}
#filtre_global i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  border-radius: 30px;
  width: 46px;
  height: 46px;
  margin-left: -3px;
  color: #0065fc;
}

/****************info*********************/
#info {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  align-items: center;
}
.positionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}
.info p {
  padding: 15px;
}

/******************Hébergementà Marseille*************************/
#carte {
  display: flex;
  flex-wrap: wrap;
}
.texte_etoile {
  padding-left: 15px;
}
.gauche {
  flex: 2;
  margin-right: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.titre {
  margin-left: 40px;
}
.afficher_plus {
  margin-left: 40px;
  font-size: 20px;
}
#hebergement article {
  background-color: white;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 5%;
}
#hebergement img {
  width: 274px;
  height: 120px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
#hebergement h3 {
  margin-top: 10px;
}
#hebergement p {
  margin-top: -8px;
}
#hebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/******************Aside************************/
.droite {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.graphique {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image_aside img {
  width: 160px;
  height: 120px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.bloc_aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.bloc_aside article {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px;
  width: 81%;
  height: 126px;
  border-radius: 10px;
}
.marge {
  margin-bottom: 18%;
}
.texte_aside {
  padding-left: 18px;
}
.blue {
  color: #0065fc;
}
.gray {
  color: #bdc4c7;
}
/***********************Activités à Marseille******************************/
#bloc_activites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
}
#bloc_activites p {
  font-weight: bold;
  margin-left: 18px;
  font-size: 20px;
}
#bloc_activites h2 {
  margin-left: 10px;
}
#bloc_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fort_pomegue p,
.iles_frioul p,
.notre_dame_lagarde p,
.parc_longchamp p {
  height: 40px;
}
.vieux_port p,
.parc_nationnal_calanques p {
  height: 40px;
}

.vieux_port img,
.fort_pomegue img,
.iles_frioul img,
.parc_nationnal_calanques img,
.notre_dame_lagarde img,
.parc_longchamp img {
  width: 394px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.vieux_port img,
.parc_nationnal_calanques img {
  height: 534px;
}
.vieux_port,
.parc_nationnal_calanques {
  height: 602px;
}
.fort_pomegue img {
  height: 214px;
}
.fort_pomegue {
  height: 274px;
  margin-bottom: 100px;
}
.iles_frioul img {
  height: 163px;
}
.notre_dame_lagarde img,
.parc_longchamp img {
  height: 194px;
}
.notre_dame_lagarde {
  margin-bottom: 85px;
}
.vieux_port,
.fort_pomegue,
.iles_frioul,
.parc_nationnal_calanques,
.notre_dame_lagarde,
.parc_longchamp {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px gray;
}
/********************************Footer*********************************/
footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  background-color: #f2f2f2;
}
footer ul {
  list-style-type: none;
}
footer p {
  font-weight: bold;
  margin-left: 41px;
}
.apropos,
.nos_hebergements {
  margin-right: 22%;
}
